<html>
    <head>
        <style>
            body{background:skyblue;font-family:verdana;color:#fff;padding:30px;text-align:center;}
            h1{font-size:48px;text-transform:uppercase;letter-spacing:2px;text-align:center;}
            .a{padding-top:200px;}
        </style>
<title>My express app</title>
    </head>
    <body>