<% include partials/header.ejs%>

<form method="POST" action="/api" class="a">
    <label>Username:</label><br>
    <input type="text" name="Username" placeholder="e.g.Chaitanya">
    <br><br>

    <input type="submit" value="submit">
    </form>